/* Font */

@import url('https://fonts.googleapis.com/css2?family="Poppins", sans-serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(30, 30, 30, 1);
    display: flex;
    flex-direction: row;
}

/* feed */
.feed {
    display: flex;
    flex-direction: column;
    width: 229px;
    height: 1024px;
    background-color: rgba(21, 21, 21, 1);
    justify-content: space-between;
}

.logo {
    margin-left: 29px;
    margin-top: 26px;
}

.search-in-feed,
.mylist-in-feed {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 31px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);

}

.categorie {
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    gap: 17px;
}

.title-in-categorie {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 81%;
    letter-spacing: 5%;
    color: rgba(108, 108, 108, 1);
}

.categorie a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 81%;
    letter-spacing: 5%;
    color: rgba(136, 136, 136, 1);
    text-decoration: none;
}

.log-out {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 31px;
}

.but-log_out {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 32px;
    border-radius: 32px;
    border-width: 1px;
    padding-right: 16px;
    padding-bottom: 2px;
    padding-left: 16px;
    background: rgba(96, 92, 92, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.04);
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}


/* navbar */
.nav {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    gap: 351px;
}

.search-in-nav {
    width: 447px;
    height: 41px;
    border-radius: 12px;
    background: rgba(39, 39, 39, 1);
    box-shadow: 0px 2px 12px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-left: 314px;

}

.search-in-nav input {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
}

.but-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
}

.but-search img {
    width: 20px;
    height: 20px;
}

#form-in-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.logo-in-nav {
    width: 47px;
    height: 46px;
    border-width: 1px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.movie {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.movie h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 81%;
    letter-spacing: 5%;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 50px;
}


.popular-movie {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    background: rgba(0, 0, 0, 1);
    width: 704px;
    height: 464px;
    border-radius: 20px;
    gap: 5px;
}

.popular-movie-title {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: space-around;
}

.popular-movie-title h1 {
    width: 200px;
    height: 62px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 85%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.popular-movie-title p {
    width: 308px;
    height: 221px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 5%;
    color: rgba(106, 106, 106, 1);
}


.popular-movie-title a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 36px;
    border-radius: 10px;
    box-shadow: 1px 1px 14px 0px rgba(255, 0, 0, 1);
    background: rgba(255, 0, 0, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 85%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.shadow-in-movie {
    background: linear-gradient(91.27deg, #000000 16.26%, rgba(0, 0, 0, 0) 99.07%, #000000 149.84%);
    width: 117px;
    height: 464px;
}

.item-movie {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.rec-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 81%;
    letter-spacing: 5%;
    width: 153px;
    height: 16px;
    color: rgba(255, 255, 255, 1);
    margin-left: 54px;
}

.rec-list {
    display: flex;
    flex-direction: row;
}

.recom {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.rec-box {
    background: linear-gradient(91.27deg, #000000 16.26%, rgba(0, 0, 0, 0) 99.07%, #000000 149.84%);
    width: 224px;
    height: 313px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-left: 47px;
}

.rec-box h4 {
    align-content: center;
    display: flex;
    color: rgba(255, 255, 255, 1);
    width: 74px;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 81%;
    letter-spacing: 5%;
}