<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/Search_category.css')}}">
    <title>search_category</title>
</head>
<body>
    <header>
        <form method="GET" id="form-in-header">
          <input type="text" name="anime" placeholder="Пошук аніме по категорії фантастика" required>
        </form>
        <a href="#">
            <img src="{{url_for('static',filename='images/home.png')}}">
        </a>
    </header>
    <article>
        <div class="list-anime">
            <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
             <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
             <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
             <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
        </div>

         <div class="list-anime">
            <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
             <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
             <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
             <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
        </div>

         <div class="list-anime">
            <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
             <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
             <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
             <div class="container">
                <img src="{{url_for('static',filename='images/anime_photo.png')}}">
                <h2>НАЗВА</h2>
            </div>
        </div>
    </article>
</body>
</html>